<!DOCTYPE html>
<!--
Author: Moussa Fofana
Product Name: Rivage Bleu
Website: https://www.moussa-fofana.com
Contact: hello@moussa-fofana.com
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | PFO Immobilier</title>
        <meta name="author" content="EMF Technologies : Moussa Fofana" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Commerces Zone4, Magasins Marcory Zone4, Construction de magasins, Réservation de magasins centre commercial, Location de magasins centre commercial, Espace commercial à louer, Magasin à louer dans un centre commercial">
        <meta name="description" content="Découvrez nos espaces commerciaux à louer dans un centre commercial moderne. Réservez votre magasin facilement en ligne et bénéficiez d'une location flexible.">
        
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('assets/medias/favicons/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/medias/favicons/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/medias/favicons/favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('assets/medias/favicons/site.webmanifest')}}">

        <link rel="stylesheet" href="https://use.typekit.net/meb7plx.css">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Open Graph (Facebook, LinkedIn, etc.) -->
        <meta property="og:title" content="Rivage Bleu | PFO Immobilier">
        <meta property="og:description" content="Découvrez nos espaces commerciaux à louer dans un centre commercial moderne. Réservez votre magasin facilement en ligne et bénéficiez d'une location flexible.">
        <meta property="og:image" content="{{asset('assets/medias/logos/logoPL.png')}}">
        <meta property="og:url" content="{{path('app_front')}}">
        <meta property="og:type" content="article">
        
        <!-- Twitter Card -->
        <meta name="twitter:card" content="{{asset('assets/medias/logos/logoPL.png')}}">
        <meta name="twitter:title" content="Rivage Bleu | PFO Immobilier">
        <meta name="twitter:description" content="Découvrez nos espaces commerciaux à louer dans un centre commercial moderne. Réservez votre magasin facilement en ligne et bénéficiez d'une location flexible.">
        <meta name="twitter:image" content="{{asset('assets/medias/logos/logoPL.png')}}">
        
        <!-- Schema.org JSON-LD -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ShoppingCenter",
            "name": "Rivage Bleu",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Grand-Bassam",
                "addressLocality": "Grand-Bassam",
                "postalCode": "",
                "addressCountry": "Côte d'Ivoire"
            },
            "telephone": "+2252722220665",
            "url": "https://www.pfo-immobilier.com",
            "description": "Page dédiée à la construction et à la réservation de magasins dans un grand centre commercial.",
            "offers": {
                "@type": "Offer",
                "url": "{{path('app_front')}}",
                "priceCurrency": "XOF",
                "price": "prix de la réservation",
                "eligibleRegion": {
                "@type": "Place",
                "name": "Grand-Bassam"
                }
            },
            "openingHours": "Mo-Su 70:00-22:00",
            "image": "{{asset('assets/medias/logos/logoPL.png')}}",
            "keywords": "Commerces Zone4, Magasins Marcory Zone4, Construction de magasins, Réservation de magasins centre commercial, Location de magasins centre commercial, Espace commercial à louer, Magasin à louer dans un centre commercial"
        }
        </script>
    </head>
    <body>
        {% include "_header.html.twig" %}

        <main>
        {% block body %}{% endblock %}
        </main>

        {% include "_footer.html.twig" %}

        <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
